/* BELOW 1200px (LANDSCAPE TABLETS)*/
@media (max-width: 1200px) {
    .event-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .hero-container {
        width: 80%;
    }
}

/* BELOW 900px (TABLETS)*/
@media (max-width: 900px) {
    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .logo{
        height: 7rem;
        width: 7rem;
    }

    .global-nav a {
        text-decoration: none;
        color: #2a2d1e;
        font-weight: 700;
        font-size: 18px;
    }

    .hero-container {
        width: 70%;
    }

    .hero-title{
        font-size: 44px;
    }

    .hero-text{
        font-size: 24px;
    }

}

/* BELOW 600px (PHONES)*/
/* TODO: ei ole responbsive mobiili jaoks */
@media (max-width: 600px) {
    .event-cards {
        grid-template-columns: 1fr;
    }

    .logo{
        height: 5rem;
        width: 5rem;
    }

    .hero-container {
        width: 90%;
    }


}