/*
--- 01 TYPOGRAPHY
- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Font weights:
Default: 400
Medium: 500
Semi bold: 600
Bold: 700


- Line heights:
Default: 1
Paragraph default: 1.6
Small: 1.05
Medium: 1.2
Large: 1.8

-Letter spacing:


--- 02 COLORS
Primary: #6A704C
Tints:
#fbf9f6

Shades:
#2a2d1e (text color)
#555a3d

Reds:
#8a1b1b
#c52626

Blues:
#5b839f
#6b8fa9

--- 03 SHADOWS
box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.09);

--- 04 BORDER-RADIUS
Default: 6px

--- 05 WHITESPACE
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #fbf9f6;
    font-family: "Montserrat", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #2a2d1e;
    --bs-heading-color: #2a2d1e
}

h1 {
    margin-bottom: 48px;
    margin-top: 48px;
    font-size: 36px;
}

p {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.page-content {
    padding-top: 220px;
}

/* ICONS */
.icon {
    color: #555a3d;
    cursor: pointer;
}

.icon:hover {
    color: #6a704c;
}

.icon-view {
    color: #5b839f;
    cursor: pointer;
}

.icon-view:hover {
    color: #6b8fa9;
}

.icon-delete {
    color: #8a1b1b;
    cursor: pointer;
}

.icon-delete:hover {
    color: #c52626;
}

/* BUTTONS */

.btn-success, .btn-success:visited {
    background-color: #555a3d;
    border: #555a3d;
    color: #fbf9f6;
    cursor: pointer;
}

.btn-success:hover, .btn-success:active, .btn-success:focus  {
    background-color: #6a704c;
    color: #fbf9f6;
}

.btn-danger, .btn-danger:visited {
    background-color: #8a1b1b;
    border: #8a1b1b;
    color: #fbf9f6;
    cursor: pointer;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus {
    background-color: #c52626;
    color: #fbf9f6;
}

.btn-neutral, .btn-neutral:visited {
    background-color: #5b839f;
    border: #5b839f;
    color: #fbf9f6;
    cursor: pointer;
}

.btn-neutral:hover, .btn-neutral:active, .btn-neutral:focus {
    background-color: #6b8fa9;
    border: #5b839f;
    color: #fbf9f6;
}

.buttons-row {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 24px;
}

/* HERO */
header {
    position: relative;
    height: 100vh;
    background-image: linear-gradient(
            to bottom,
            rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3)
    ), url(/src/assets/images/hero-aranxa-esteve-unsplash.jpg);
    background-size: cover;
    background-position: center;
    transition: height 0.3s ease-in-out;
}

.hero-container {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    text-align: center;
    padding: 0 15px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.hero-title {
    color: #f0f1ed;
    font-size: 62px;
    line-height: 1.3;
}

.hero-text {
    color: #e1e2db;
    font-size: 30px;
    line-height: 1.05;
    font-weight: 500;
}

.btn-hero {
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 9px;
}

/* MODAL */
/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translate(-50%, 0); /* Teisendab X-telje piki -50% võrra */
    width: 80%; /* Set width to 80% of the viewport width */
    box-sizing: border-box;
    padding: 20px;
}

.modal-content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.modal-header {
    flex-shrink: unset;
    gap: 16px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 16px 0;
    box-sizing: border-box;
}

.modal-footer {
    display: flex;
    gap: 24px;
}

/* EVENT DETAIL MODAL */
.time-picker {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /*box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);*/
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.time-picker:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
}

/* IMAGE INPUT */
.custom-file-button {
    display: flex;
    align-items: center;
}

.custom-file-button .input-group-text {
    white-space: nowrap;
}

.custom-file-label::after {
    content: "";
}

.custom-file-button {
    input[type="file"] {
        margin-left: -2px !important;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::file-selector-button {
            display: none;
        }
    }
}

/* IMAGE*/
.img-fluid {
    border-radius: 6px;
}

.img-thumbnail {
    border: 0;
}

/* FEATURE CATEGORY RADIO BUTTONS */
.form-check-input:checked {
    background-color: #7cb2d9;
    border-color: #7cb2d9;
}

/* BUSINESS DROPDOWN */
.business-dropdown {
    width: 230px;
    margin-bottom: 36px;
}

/* EVENT CARDS */
.event-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.event-card {
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.09);
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

.event-img {
    padding: 0;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.event-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit;
}

.event-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event-info h3 {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.buttons-event-card {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons-event-card li {
    justify-content: center;
    font-size: 16px;
}

.icons-event-card {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    list-style: none;
    padding: 12px 0;
    margin: 0;
}

.btn-event-card, .btn-event-card:visited {
    background-color: #fbf9f6;
    border: solid 2px #6A704C;
    padding: 10px 20px;
    color: #2a2d1e;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
}

.btn-event-card:hover, .btn-event-card:active, .btn-event-card:focus {
    background-color: #6A704C;
    border: solid 2px #6A704C;
    color: #fbf9f6;
}

.icon-event-card-new {
    font-size: 100px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

/* TICKETS */

.ticket-container {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 12px 0;
}