body {
    background-color: #fbf9f6;
    font-family: "Montserrat", sans-serif;
    color: #202217;
    --bs-heading-color: #202217
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.cursor-pointer {
    cursor: pointer;
}

/* NAVIGATION MENU */
#app {
    text-align: center;
}

a {
    text-decoration: none;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #202217;
}

nav a:hover{
    color: #6A704C;
    text-decoration: underline;
}

/* ICONS */
.icon {
    color: #6A704C;
}

.icon:hover {
    color: #40432e;
}

.icon-delete {
    color: #c52626;
}

.icon-delete:hover {
    color: #761717;
}

/* BUTTONS */
.button-success {
    margin-right: 30px;
    background-color: #6A704C;
    border: #6A704C;
}

.button-success:hover {
    background-color: #888d70;
}

.button-danger {
    background-color: #c52626;
    border: #c52626;
}

.button-danger:hover {
    background-color: #d15151;
}

.button-neutral {
    background-color: #5b839f;
    border: #5b839f;
}

.button-neutral:hover {
    background-color: #7c9cb2;
}

/* MODAL */
/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translateX(-50%); /* Teisendab X-telje piki -50% võrra */
}

/* IMAGE INPUT */
.custom-file-button {
    display: flex;
    align-items: center;
}

.custom-file-button .input-group-text {
    white-space: nowrap;
}

.custom-file-label::after {
    content: "";
}

.custom-file-button {
    input[type="file"] {
        margin-left: -2px !important;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::file-selector-button {
            display: none;
        }
    }
}

/* EVENT IMAGE*/
.img-fluid {
    border-radius: 6px;
}

.img-thumbnail {
    border: 0;
}

/* FEATURE CATEGORY RADIO BUTTONS */
.form-check-input:checked {
    background-color: #7cb2d9;
    border-color: #7cb2d9;
}

/* EVENT DETAIL MODAL */
.time-picker {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /*box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);*/
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.time-picker:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
}

/* BUSINESS DROPDOWN */
.business-dropdown {
    width: 230px;
}

/* EVENTS CARDS */
.events-view {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.event {
    /* values: horizontal offset between box and shadow, vertical offset, blur of shadow,
    optinal value: shadow scale / shadow radius, color of shadow */
    box-shadow: 0 20px 30px 0px rgb(0, 0, 0, 0.07);
    border-radius: 6px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);

}

/* For screens smaller than 1200px, use 3 columns */
@media (max-width: 1200px) {
    .events-view {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For screens smaller than 900px, use 2 columns */
@media (max-width: 900px) {
    .events-view {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens smaller than 600px, use 1 column */
@media (max-width: 600px) {
    .events-view {
        grid-template-columns: 1fr;
    }
}

.event-img {
    padding: 24px;
}

.event-box {
    padding: 24px;
}

h3 {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: bold;
}

.event-buttons {
    margin-bottom: 24px;
}

.event-buttons li {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.event-buttons li:last-child {
    margin-bottom: 0;
}

.event-edit-delete {
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    font-size: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.button-events-card{
    background-color: #6A704C;
    border: #6A704C;
}

.button-events-card:hover{
    background-color: #888d70;
}


