/* GENERAL */
/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #fbf9f6;
    font-family: "Montserrat", sans-serif;
    color: #2a2d1e;
    --bs-heading-color: #2a2d1e
}

.cursor-pointer {
    cursor: pointer;
}

h1 {
    margin-bottom: 48px;
    margin-top: 48px;
    font-size: 36px;
}

p {
    margin-bottom: 0;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.page-content {
    padding-top: 220px;
}

/* ICONS */
.icon {
    color: #555a3d;
    cursor: pointer;
}

.icon:hover {
    color: #6a704c;
}

.icon-view {
    color: #5b839f;
    cursor: pointer;
}

.icon-view:hover {
    color: #6b8fa9;
}

.icon-delete {
    color: #8a1b1b;
    cursor: pointer;
}

.icon-delete:hover {
    color: #c52626;
}

/* BUTTONS */
.button-success {
    background-color: #555a3d;
    border: #555a3d;
    cursor: pointer;
}

.button-success:hover {
    background-color: #6a704c;
}

.button-danger {
    background-color: #8a1b1b;
    border: #8a1b1b;
    cursor: pointer;
}

.button-danger:hover {
    background-color: #c52626;
}

.button-neutral {
    background-color: #5b839f;
    border:#5b839f;
    cursor: pointer;
}

.button-neutral:hover {
    background-color: #6b8fa9;
}

.buttons-row {
    display: flex;
    gap: 32px;
    justify-content: center;
    margin-top: 24px;
}

/* MODAL */
/* Kui modaal on nähtav, rakenda järgmised stiilid */
.modal.fade.show.d-block {
    background-color: rgba(0, 0, 0, 0.8); /* Tausta värv koos läbipaistvusega */
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    z-index: 1050; /* Z-indeks määrab modaalakna kihi järjekorra */
    left: 0; /* Vasak paigutus on null */
    top: 0; /* Ülemine paigutus on null */
    width: 100%; /* Laius on 100% */
    height: 100%; /* Kõrgus on 100% */
    overflow: hidden; /* Peidab ülejäänud sisu, mis ei mahu alale */
}

/* Rakenda järgmised stiilid modaalakna sisule */
.modal-dialog {
    position: fixed; /* Positsiooni tüüp on fikseeritud */
    top: 10%; /* Ülemine paigutus on 10% */
    left: 50%; /* Vasak paigutus on 50% */
    transform: translate(-50%, 0); /* Teisendab X-telje piki -50% võrra */
    width: 80%; /* Set width to 80% of the viewport width */
    box-sizing: border-box;
    padding: 20px;
}

.modal-content {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.modal-header {
    flex-shrink: unset;
    gap: 16px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    padding: 16px 0;
    box-sizing: border-box;
}

.modal-footer {
    display: flex;
    gap: 24px;
}

/* EVENT DETAIL MODAL */
.time-picker {
    width: 150px;
    height: 40px;
    padding: 10px;
    margin-left: 20px;
    border: 1px solid #ced4da;
    border-radius: 6px;
    font-size: 1rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /*box-shadow: inset 0 1px 2px rgb(0 0 0 / 8%);*/
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.time-picker:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 123 255 / 25%);
}

/* IMAGE INPUT */
.custom-file-button {
    display: flex;
    align-items: center;
}

.custom-file-button .input-group-text {
    white-space: nowrap;
}

.custom-file-label::after {
    content: "";
}

.custom-file-button {
    input[type="file"] {
        margin-left: -2px !important;

        &::-webkit-file-upload-button {
            display: none;
        }

        &::file-selector-button {
            display: none;
        }
    }
}

/* IMAGE*/
.img-fluid {
    border-radius: 6px;
}

.img-thumbnail {
    border: 0;
}

/* FEATURE CATEGORY RADIO BUTTONS */
.form-check-input:checked {
    background-color: #7cb2d9;
    border-color: #7cb2d9;
}

/* BUSINESS DROPDOWN */
.business-dropdown {
    width: 230px;
    margin-bottom: 36px;
}

/* EVENT CARDS */
.event-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 36px;
}

.event-card {
    box-shadow: 0 20px 30px 0 rgb(0, 0, 0, 0.09);
    border-radius: 6px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
}

/* For screens smaller than 1200px, use 3 columns */
@media (max-width: 1200px) {
    .event-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* For screens smaller than 900px, use 2 columns */
@media (max-width: 900px) {
    .event-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For screens smaller than 600px, use 1 column */
@media (max-width: 600px) {
    .event-cards {
        grid-template-columns: 1fr;
    }
}

.event-img {
    padding: 0;
    max-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure child elements respect the border-radius */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.event-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: inherit; /* Inherit border-radius from the parent */
}

.event-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.event-info h3 {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.buttons-event-card {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.buttons-event-card li {
    justify-content: center;
    font-size: 16px;
}

.icons-event-card {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    list-style: none;
    padding: 12px 0;
    margin: 0;
}

.button-event-card {
    background-color: #fbf9f6;
    border: solid 2px #6A704C;
    padding: 10px 20px;
    color: #2a2d1e;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.button-event-card:hover {
    background-color: #6A704C;
    border: solid 2px #6A704C;
}

.icon-event-card-new {
    font-size: 100px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

/* TICKETS */

.ticket-container{
    display: flex;
    justify-content: center;
    gap: 32px;
    margin: 12px 0;
}